<footer ng-controller="footercontrol">
    <div class="footer_in" id="divFooterinner">
        <a class="logo2 pull-left" style="margin: 10px 40px 0 0;">&nbsp;</a>

        <div id="livechat">
            &nbsp;&nbsp;&nbsp;
            <a onclick="OpenLHNChat();return false;" href="#" target="_blank" id="lhnWin" class="icon-chat-footer pull-left"></a>

            <div id="livechatdiv">
                <!-- This code must be installed within the body tags 3422-->
                <script type="text/javascript" defer='defer'>
                    var lhnAccountN = "3422";
                    var lhnButtonN = 4720;
                    var lhnChatPosition = '100';
                    var lhnInviteEnabled = 1;
                    var lhnWindowN = 0;
                    var lhnDepartmentN = 0;
                </script>
            </div>
        </div>
        <script type="text/javascript" defer='defer'>
            function OpenLHNChat() {
                if (typeof CustomOpenLHNChat == 'function') {
                    CustomOpenLHNChat();
                    return false;
                }
                var wleft = (screen.width - 580 - 32) / 2;
                var wtop = (screen.height - 420 - 96) / 2;
                alert(bLHNOnline);
                var sScrollbars = (bLHNOnline == 0) ? "yes" : "no";
                if (document.location.protocol == 'https:' || (typeof lhnJsHost != 'undefined' && lhnJsHost == "https://")) {
                    lhnWin = window.open('https://www.livehelpnow.net/lhn/livechatvisitor.aspx?zzwindow=' + lhnwindow + '&lhnid=' + 3422 + '&d=' + 0, 'lhnchat', 'left=' + wleft + ',top=' + wtop + ',width=580,height=435,toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=' + sScrollbars + ',copyhistory=no,resizable=yes');
                } else {
                    lhnWin = window.open('http://www.livehelpnow.net/lhn/livechatvisitor.aspx?zzwindow=' + lhnwindow + '&lhnid=' + 3422 + '&d=' + 0, 'lhnchat', 'left=' + wleft + ',top=' + wtop + ',width=580,height=435,toolbar=no,location=no,directories=no,status=yes,menubar=no,scrollbars=' + sScrollbars + ',copyhistory=no,resizable=yes');
                }
                if (typeof Zstepx != 'undefined') {
                    if (Zstepx == 10) {
                        Zslide();
                    }
                }
            }
        </script>
        <div class="social pull-right">
            <ul>
                <li><a href="javascript:void(0)">&nbsp;
                    <div class="icon-fb" style="margin: 10px;"></div></a></li>
                <li><a href="javascript:void(0)">&nbsp;
                    <div class="icon-linkedin" style="margin: 11px 4px 4px 6px;"></div></a></li>
                <li><a href="javascript:void(0)">&nbsp;
                    <div class="icon-twitter" style="margin: 11px 4px 4px 6px;"></div></a></li>
            </ul>
            <span class="clear">&nbsp;</span>
        </div>
        <div class="clear">&nbsp;</div>
        <hr />
        <div class="footer_block_1 span4">
            <h6>about kaakateeya</h6>
            <p><span>Kaakateeya.com</span>, a top-notch online matrimonial site committed to deliver high quality match making service since 1982.</p>
        </div>
        <div class="span2">
            <h6>our services</h6>
            <ul>
                <li>
                    <a id="lnkFooterSucess" href="#/successstories" class="linkdisableCls">success stories</a>
                </li>
                <li>
                    <a id="lnkSearchFooter" href="javascript:void(0)" ng-click="searchpage('profile')" class="linkdisableCls">Search</a>
                </li>

                <li>
                    <a id="linkcareers" href="#/help" class="linkdisableCls">careers</a>
                </li>
                <li>
                    <a id="linkfaq" href="#/faqs" class="linkdisableCls">faq’s</a>
                </li>
                <li>
                    <a id="lnktermsFooter" href="#/termsAndConditions" class="linkdisableCls">Terms Of Use</a>
                </li>
            </ul>
        </div>
        <div class="span2">
            <h6>information</h6>
            <ul>
                <li><a ng-click="showforgetpasswordpopup()" href="javascript:void(0)" class="linkdisableCls">Forgot Password</a></li>
                <li>
                    <a id="lnkFeedBackFooter" href="#/feedback" class="linkdisableCls">Feed Back</a>
                </li>
                <li>
                    <a id="lnkBranchesFooter" href="#/ourbranches" class="linkdisableCls">Our Branches</a>
                </li>
                <li>
                    <a id="linkHelp" href="#/help" class="linkdisableCls">Help</a>
                </li>

                <li>
                    <a id="lnkPrivacyFooter" href="#/privacyPolicy" class="linkdisableCls">Privacy Policy</a>
                </li>


            </ul>
        </div>
        <div class="span3">
            <h6>contact inforamtion</h6>
            <h3>103,109,Vijayasree Apartments,
                <br /> Behind Chermas,Ameerpet,Hyderabad
                <br />
                <span>Contact: 91- 7675818080,040-23747777</span>
                <br /> Email :info@telugumarriages.com
                <br /> Timings :8:00:00 AM To 8:00:00 PM</h3>
        </div>
        <div class="clear">&nbsp;</div>
        <p class="copy_rights">
            &copy; 2004-2013 www.Kaakateeya.com Matrimony - Online Marriage Site. All Rights Reserved.
        </p>
        <div class="color_strip strip-color">&nbsp;</div>
        <div class="strip-color color_strip2">&nbsp;</div>
    </div>
    <forgot-password></forgot-password>
</footer>