<div class="header_inner" id="divInnerMaster" ng-controller='headctrl'>

    <div class="container_my clearfix">

        <a id="IbtnLogodisplay" href="javascript:void(0)" ng-click="redirecthomeordashboard()" class="logo3 pull-left" />
        <input type="button" value="Login" ng-show="loginstatus" id="btnLoginsubmit" class="pull-right button_custom login_show" ng-click="divloginblock();" />
        <input type="button" value="Logout" ng-show="loginoutstatus" id="btnLogOut" class="pull-right button_custom" ng-click="ClearlocalStorage();" />
        <div class="login_block_header" ng-show="loginpopup" id="divLogin">
            <form name="myForms">
                <input type="text" id="txtUserName" placeholder="ProfileID/EmailID" style="height: 38px;border: 1px solid #cbc0c0 !important;" ng-model="username" required/>
                <input type="password" id="txtPassword" placeholder="Password" style="height: 38px;border: 1px solid #cbc0c0 !important;" ng-model="password" required/>
                <span class="clear">&nbsp;</span>
                <div class="login_help">
                    <a id="lnkForgotPassword" href="javascript:void(0)" ng-click="showforgetpasswordpopup()">Forgot Password</a>
                    <a href="#/registration">New User Sign Up</a>
                </div>
                <md-button id="btnUserLogin" ng-click="loginsubmit()" ng-disabled="myForms.$invalid" class="md-raised md-warn">Login</md-button>
            </form>
            <span class="clear">&nbsp;</span>
        </div>

        <div class="header_inner_rt clearfix">
            <h3>

                <a id="lnkFeedbackMenu" href="#/feedback">Feedback</a>

            </h3>
            <h4>make a missed call<span><em>+91-9390999999</em></span></h4>
            <h4>Support No<span>+1-734-926-1011</span></h4>
        </div>
    </div>
    <div class="navbar_inner" id="divMemberName" ng-show="withlogin" set-class-when-at-top="fix-to-top">

        <div class="container_my clearfix">
            <div class="profile_own_name pull-left clearfix">
                <img id="IMasterpic" ng-src="{{profilepic}}" style="width: 31px !important; height: 31px !important; border: solid 2px #fc6a1b;border-radius: 3px;display: inline-block; float: left;" />
                <h2>
                    <label id="lblCustFName">{{usernamepersonal}}</label> &nbsp;&nbsp;(

                    <label id="lblprofile">{{profileid}}</label>)
                    <br />
                    <span>Accout type :</span>
                    <a id="lblpaid" href="#" style="color:White;">{{paidstatus}}</a>
                </h2>
            </div>
            <div class="profile_own_menu profile_own_menu2 pull-right" id="MenuDiv">
                <a class="menu_toggle pull-right">Menu</a>
                <ul class="pull-right">

                    <li>
                        <a id="lnkMyHome" href="javascript:void(0)" class="linkdisableCls" ng-click="homepagelinks('myhome')">My Home</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="linkdisableCls">my account</a>

                        <ul>
                            <li>
                                <a id="linkviewmyprofile" href="javascript:void(0);" ng-click="viewfullmyprofile()">View My Profile</a>
                            </li>
                            <li>
                                <a id="linkeditprofile" href="#/editview">Edit Profile</a>
                            </li>
                            <li>
                                <a id="linkmanagephoto" href="#/editview/editManagePhoto">Manage Photo</a>
                            </li>
                            <li>
                                <a id="linkmanagehoroscope" href="#/editview/editAstro">Manage Horoscope</a>
                            </li>
                            <li>
                                <a id="linkprofilesettings" href="#/profilesettings">Profile Settings</a>
                            </li>

                        </ul>

                    </li>
                    <li>
                        <a id="lnksearch" href="javascript:void(0)" class="linkdisableCls" ng-click="searchpage('profile')">Search</a>
                        <ul>
                            <li>
                                <a id="linkgenaralsearch" href="javascript:void(0)" ng-click="searchpage('general')">General Search</a>
                            </li>
                            <li>
                                <a id="linkAdvancedSearch" href="javascript:void(0)" ng-click="searchpage('advanced')">Advanced Search</a>
                            </li>
                            <li>
                                <a id="linkprofileidsearch" href="javascript:void(0)" ng-click="searchpage('profile')">Profileid Search</a>
                            </li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript:void(0)" class="linkdisableCls">my package</a>
                        <ul>
                            <li>
                                <a id="linkupgrademembership" href="#/UpgradeMembership">Upgrade Membership</a>
                            </li>
                            <li>
                                <a id="linkmyorders" href="#/myorders">My Orders and Statistics</a>
                            </li>
                            <li>
                                <a id="linkmembershipfaqs" href="#/faqs">Membership Faqs</a>
                            </li>
                            <li>
                                <a id="linkAddOnPacks" href="#/AddOnPacks" ng-hide="true">Add On Packs</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="linkdisableCls">matches</a>
                        <ul>
                            <li>
                                <a id="linkmybookmarks" href="javascript:void(0)" ng-click="homepagelinks('BookMarked')">My BookMarked Profiles</a>
                            </li>
                            <li>
                                <a id="linkwhobookmarkedme" href="javascript:void(0)" ng-click="homepagelinks('BookMarkedme')">Who BookMarked Me</a>
                            </li>
                            <li>
                                <a id="linkigonredprofile" href="javascript:void(0)" ng-click="homepagelinks('Ignored')">Ignored Profiles</a>
                            </li>
                            <li>
                                <a id="linkviewedbutnotexpress" href="javascript:void(0)" ng-click="homepagelinks('myprofile')">My profile viewed by others</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="linkdisableCls">messages</a>
                        <ul>
                            <li>
                                <a id="linkPersonalizedmsg" href="javascript:void(0)" ng-click="homepagelinks('Chats')">Chats</a>
                            </li>
                            <li>
                                <a id="linkrequests" href="javascript:void(0)" ng-click="homepagelinks('Requests')">Requests</a>
                            </li>
                            <li>
                                <a id="linkMyContact" href="javascript:void(0)" ng-click="homepagelinks('Express')">Express interest</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#/help" class="linkdisableCls">Help</a>
                        <ul>
                            <li>
                                <a id="lnkcontactus" href="#/help">Contact Us</a>
                            </li>
                            <li>
                                <a id="linkmysupportickets" href="#/MySupportTickets">My Support Tickets</a>
                            </li>
                            <li>
                                <a id="lnkfeedback" href="#/feedback">Feed Back</a>
                            </li>
                            <li>
                                <a id="lnktakeatour" href="#/takeatour">Take A Tour</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="navbar_inner" id="divwithoutlogin" ng-show="withoutlogin">
        <div class="container_my clearfix">

            <div class="profile_own_menu pull-right">
                <a class="menu_toggle pull-right">Menu</a>
                <ul class="pull-right">

                    <li><a href="#/registration">Register free</a></li>
                    <li><a href="javascript:void(0)" ng-click="searchpage('profile')">Search <span></span></a></li>
                    <li><a href="javascript:void(0);" ng-click="divloginblock()">Upgrade</a></li>
                    <li>
                        <a id="lnkSucessstoreiesFooter" href="#/successstories">success stories <span></span></a>
                    </li>
                    <li>
                        <a id="linkfooterhelp" href="#/help">Help</a>
                    </li>
                    <li><a href="javascript:void(0);" ng-click="redirecthomeordashboard()">Home</a></li>

                </ul>
            </div>
        </div>
    </div>
    <forgot-password></forgot-password>
    <script type="text/ng-template" id="sessionalert.html">
        <div class="modal-content">
            <div class="modal-header">
                <h3> Confirmation</h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <h4 class="col-lg-offset-1">Do you want to continue Session</h4>
                </div>
                <div class="clearfix"></div>
                <br>
                <div class='row'>
                    <div class='col-lg-4 col-lg-offset-2'>
                        <button type='button' class='btn btn-danger' ng-click='closesession()'>close</button>
                    </div>
                    <div class='col-lg-5'>
                        <button type='button' class='btn btn-success' ng-click='acceptcontinue()'>Continue</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </script>
</div>


<style type="text/css">
    .fix-to-top {
        position: fixed;
        margin: 0 auto;
        z-index: 999999999;
        top: 0;
        left: 0%;
        width: 100%;
        padding: 20px 1%;
    }
</style>