<div id="invalidVerificationDiv">
    <div class="header">
        Welcome to kaakateeya website
        <div>
            verification
        </div>
    </div>

    <div class="blink" align="center">
        <!--<a ID="lnkbtnConfirmStatus" href="/home">Invalid verification code.</a>-->

        <md-button class="md-primary" ng-href="{{googleUrl}}" target="_blank">Invalid verification code.</md-button>


    </div>
</div>

<style type="text/css">
    .header {
        color: #ff0000;
        text-align: center;
        font-weight: bold;
        font-variant: small-caps;
        background-color: Yellow;
        color: Black;
        width: 100%;
        letter-spacing: normal;
        margin-top: 10px;
    }
    
    .blink {
        text-decoration: blink;
    }
</style>