<md-select ng-model="model" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple>
    <md-select-header class="demo-select-header">
        <input ng-model="caste" type="search" class="demo-header-searchbox md-text">
    </md-select-header>
    <md-optgroup label="Caste">
        <md-option ng-click="selectall()" ng-checked="exists(model)">selectall</md-option>
        <md-option ng-value="caste.value" ng-repeat="caste in Caste |
        filter:caste">{{caste.label}}</md-option>
    </md-optgroup>
</md-select>


<!--<material-multiselect array="dateArr" model="reg.ddlDD"></material-multiselect>-->