<div class="right_col" role="main">
    <div class="register_page_main">
        <h4>Guidelines for uploading correct photos</h4>

        <div class="photo_guidlines_main">
            <div class="photo_guidlines_main_item clearfix">
                <div class="photo_guidlines_main_item_lt pics_incorrect_list clearfix">
                    <h3>such photos cannot be uploaded</h3>
                    <table id="DataList3" class="clearfix" style="border-collapse: collapse;" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <img id="DataList3_ctl00_images" src="src\images/Side-face.png">
                                    <p>
                                        Side Face
                                    </p>

                                </td>
                                <td>
                                    <img id="DataList3_ctl01_images" src="src\images/Blir.png">
                                    <p>
                                        Blur
                                    </p>

                                </td>
                                <td>
                                    <img id="DataList3_ctl02_images" src="src\images/Group-photos.png">
                                    <p>
                                        Group Photo
                                    </p>

                                </td>
                                <td>
                                    <img id="DataList3_ctl03_images" src="src\images/Water-mark.png">
                                    <p>
                                        Watermark
                                    </p>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="photo_guidlines_main_item_rt">
                    <p>
                        Do not send a photo which shows only a side of your face, blurred or unclear photos, or where your face is partially visible, They will be rejected during screening process.
                    </p>
                    <p>
                        Please ensure that you do not upload celebrity photographs, if such is the case, we may deactivate your membership.

                    </p>
                </div>

            </div>

            <div class="photo_guidlines_main_item clearfix">
                <div class="photo_guidlines_main_item_lt  pics_incorrect_list pics_correct_list clearfix">
                    <h3>Photos that can be uploaded</h3>
                    <table id="DataList2" class="clearfix" style="border-collapse: collapse;" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <img id="DataList2_ctl00_images" src="src\images/Close-up.png">
                                    <p>
                                        Close Up
                                    </p>
                                </td>
                                <td>
                                    <img id="DataList2_ctl01_images" src="src\images/Fulsize.png">
                                    <p>
                                        Full Size
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="photo_guidlines_main_item_rt">
                    <p>
                        Please upload half-size or full-size recent photographs.
                    </p>

                </div>

            </div>


            <div class="photo_guidlines_main_guideslist">
                <h6>Please ensure that none of your photos are obscene or irrelevant. In such a case your account will be deactivated.</h6>
                <p title="1">Mentioning contact details on photos is prohibited.</p>
                <p title="2">Do not upload photograph which shows you with a cigarette / cigar.</p>
                <p title="3">Photograph which does not match with the age specified in the profile will not be uploaded.</p>
                <p title="4">Do not upload photos wearing govt service uniforms unless they match your profession.(eg.army,navy, police etc.)</p>
                <p title="5">Optimum photo size is 400 width x 500 height.</p>
                <p title="6">If you choose to mail photos,please mention profile picture.</p>
                <p title="7">photos uploaded will undergo screening and updated within 2 hours during the business hours.</p>

            </div>

        </div>

    </div>
</div>