<style type="text/css">
    body {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-size: 14px;
        /*background-image:url('src/images/bg/bg3.jpg');*/
    }
    
    table {
        padding: 0px;
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    p {
        font-size: 12px;
        /*color: #58a718;*/
        color: #ffa500;
    }
    
    .lstSearch {
        height: 80px;
        width: 150px;
    }
    
    .lnkSkipPage {
        color: #793532;
        text-decoration: none;
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-size: 12px;
        padding-bottom: 10px;
    }
    
    .aspxContentdiv {
        width: 100%;
        text-align: center;
        height: 100%;
    }
    /* Top ribbon --Starts*/
    
    .pghd {
        font-size: 14px;
        font-weight: bold;
        padding-left: 5px;
        height: 25px;
        line-height: 25px;
        color: #ffffff;
        text-align: left;
        vertical-align: middle;
        /*background-color: #BADD74; */
        /*background-image: url(src/images/pgbg01.jpg); 	background-repeat: repeat-x; 	background-color: #ffffff; 	border-bottom: solid 1px #029348; 	border-left: solid 5px #029348;*/
        border-bottom: 1px solid #3f89c3;
        width: 99%;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        filter: none;
        border-radius: 10px 10px 10px 10px;
        background: rgb(249, 89, 89);
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg4JSIgc3RvcC1jb2xvcj0iIzc3MDMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3OTM1MzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(249, 89, 89, 1) 0%, rgba(119, 3, 0, 1) 88%, rgba(121, 53, 50, 1) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(249, 89, 89, 1)), color-stop(88%, rgba(119, 3, 0, 1)), color-stop(100%, rgba(121, 53, 50, 1)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(249, 89, 89, 1) 0%, rgba(119, 3, 0, 1) 88%, rgba(121, 53, 50, 1) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(249, 89, 89, 1) 0%, rgba(119, 3, 0, 1) 88%, rgba(121, 53, 50, 1) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(249, 89, 89, 1) 0%, rgba(119, 3, 0, 1) 88%, rgba(121, 53, 50, 1) 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, rgba(249, 89, 89, 1) 0%, rgba(119, 3, 0, 1) 88%, rgba(121, 53, 50, 1) 100%);
        /* W3C */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f95959', endColorstr='#793532', GradientType=0);
        /* IE6-8 */
    }
    /* Top ribbon --End*/
    /*Control Holder in aspx page--Starts*/
    
    .ControlHolder {
        float: left;
        width: 100%;
    }
    /*Control Holder in aspx page--Ends*/
    /*Input fields(email, number, password, tel, text, url, file) style for show, hover and focus -- Starts*/
    
    input[type=email],
    input[type=number],
    input[type=password],
    input[type=tel],
    input[type=text],
    input[type=url],
    input[type=file] {
        display: inline-block;
        height: 27px;
        width: 200px;
        line-height: 25px;
        margin: 0;
        padding: 0 8px;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    input[type=email]:hover,
    input[type=number]:hover,
    input[type=password]:hover,
    input[type=tel]:hover,
    input[type=text]:hover,
    input[type=url]:hover,
    input[type=file]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    input[type=email]:focus,
    input[type=number]:focus,
    input[type=password]:focus,
    input[type=tel]:focus,
    input[type=text]:focus,
    input[type=url]:focus,
    input[type=file]:focus {
        outline: none;
        border: 1px solid #793532;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /*Input fields(email, number, password, tel, text, url, file) style for show, hover and focus -- Ends*/
    /*Textarea style for show, hover and focus -- Starts*/
    
    textarea {
        resize: none;
        display: inline-block;
        height: 100px;
        width: 300px;
        line-height: 25px;
        margin: 0;
        padding: 0 8px;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    textarea:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    textarea:focus {
        outline: none;
        border: 1px solid #793532;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /*Textarea style for show, hover and focus -- Ends*/
    /*Input fields(Dropdown) style for show, hover and focus -- Starts*/
    
    .ddlInput {
        display: inline-block;
        height: 27px;
        width: 200px;
        padding-top: 0px;
        vertical-align: middle;
        margin: 0;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    .ddlInput:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    .ddlInput:focus {
        outline: none;
        border: 1px solid #793532;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /*Input fields(Dropdown) style for show, hover and focus -- Ends*/
    /*Input fields(Select) style for show, hover and focus -- Starts*/
    
    .selInput {
        display: inline-block;
        height: 70px;
        width: 200px;
        padding-top: 4px;
        vertical-align: middle;
        margin: 0;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    .selInput:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    .selInput:focus {
        outline: none;
        border: 1px solid #793532;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /*Input fields(Select) style for show, hover and focus -- Ends*/
    /*Input fields(Other) style for show, hover and focus -- Starts*/
    
    .txtOther {
        display: inline-block;
        height: 70px;
        width: 27px;
        padding-top: 2px;
        vertical-align: middle;
        margin: 0;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    .txtOther:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
    .txtOther:focus {
        outline: none;
        border: 1px solid #793532;
        -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    /*Input fields(Select) style for show, hover and focus -- Ends*/
    /* Design -Starts*/
    
    .UserControlContentDiv {
        width: 100%;
        border: solid 0px #ffffff;
        padding-left: 3px;
    }
    
    .DesignTableContent {
        width: 894px;
        top: 150px;
        vertical-align: top;
        padding: 0;
    }
    
    .BoxContentTD {
        text-align: center;
        vertical-align: top;
    }
    
    .panelhd {
        padding-left: 5px;
        height: 150px;
        vertical-align: middle;
        /*background-color: #BADD74; */
        background-image: url(src/images/Corner_center1.jpg);
        /*background-image: url(src/images/pnlhdrbg.jpg); */
        background-repeat: repeat-x;
        background-color: #ffffff;
        /*border-top: solid 1px #BADD74;*/
        border-bottom: 1px solid #cccdcf;
    }
    
    .Boxleft {
        background-image: url(src/images/Corner_left1.jpg);
        background-repeat: no-repeat;
        background-color: #ffffff;
        width: 10px;
        height: 150px;
    }
    
    .BoxRight {
        background-image: url(src/images/Corner_right1.jpg);
        background-repeat: no-repeat;
        background-color: #ffffff;
        width: 10px;
        height: 150px;
    }
    
    .BoxHeadingTable {
        width: 100%;
    }
    
    .txtWaterMark {
        border: solid 1px #6D6D6D;
        width: 200px;
        height: 18px;
        margin-right: 10px;
        background-image: url('src/images/txtbg_normal.png');
        background-repeat: repeat-x;
        color: #6a6a6a;
        text-align: left;
    }
    
    input.txtAraCode,
    input.txtCurrencymini {
        width: 55px;
    }
    
    input.txtDORmini {
        width: 100px;
    }
    
    .contactTable {
        padding: 0px;
        border-spacing: 0;
        border-collapse: collapse;
    }
    
    .txtWaterMark {
        border: solid 1px #6D6D6D;
        margin-right: 10px;
        background-image: url('src/images/txtbg_normal.png');
        background-repeat: repeat-x;
        color: #6a6a6a;
        text-align: left;
    }
    
    .multiSelectTable {
        float: left;
        width: 60%;
        padding: 2px;
        border-spacing: 0;
        border-collapse: collapse;
    }
    /*Subtitle --Starts */
    
    .lblSubTitle {
        font-weight: bold;
        font-size: 15px;
        color: #3f89c3;
    }
    
    .SubTitleContentTD {
        text-align: left;
    }
    
    .MandatoryLableContentTD {
        text-align: right;
    }
    
    .HomeLinkContentTD {
        text-align: right;
    }
    
    .MandatoryLabel {
        font-weight: bold;
        color: Red;
        font-size: 10px;
        float: right;
    }
    
    .MandatoryLabelInline {
        font-weight: bold;
        color: Red;
        font-size: 10px;
        margin-right: 10px;
    }
    
    .Homelink {
        text-decoration: none;
        color: #793532;
        font-size: 10px;
    }
    
    .Homelink:visited {
        text-decoration: underline;
        color: #793532;
        font-size: 10px;
    }
    
    .Homelink:hover {
        text-decoration: underline;
        color: #793532;
        font-size: 10px;
    }
    
    .Homelink:active {
        text-decoration: underline;
        color: #793532;
        font-size: 10px;
    }
    
    .lnkSkipPage {
        text-decoration: none;
        color: #793532;
        font-size: 12px;
    }
    
    .lnkSkipPage:visited {
        text-decoration: underline;
        color: #793532;
        font-size: 12px;
    }
    
    .lnkSkipPage:hover {
        text-decoration: underline;
        color: #793532;
        font-size: 12px;
    }
    
    .lnkSkipPage:active {
        text-decoration: underline;
        color: #793532;
        font-size: 12px;
    }
    /*Subtitle --Ends*/
    /*Field Content --Starts */
    
    .InputFieldContentTable {
        width: 100%;
        padding: 0;
        line-height: 2.5em;
        vertical-align: top;
    }
    
    .TextContent {
        width: 100%;
        padding: 0;
        line-height: 1.2em;
        vertical-align: top;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        text-align: center;
    }
    
    .LeftLabelContentTD {
        width: 300px;
        text-align: right;
    }
    
    .LeftLabel {
        font-weight: bold;
        font-size: 15px;
        color: #6B6B6B;
        text-align: right;
        padding-right: 2px;
    }
    
    .ColonLabel {
        font-weight: bold;
        font-size: 15px;
        color: #6B6B6B;
        text-align: center;
        padding-right: 2px;
        width: 20px;
    }
    
    .InputFieldTD {
        text-align: left;
        font-size: 14px;
    }
    
    .tdlan {
        padding-left: 25.5%;
    }
    /*Field Content --Ends */
    /*Validate message --Starts*/
    
    .lblValidate {
        position: absolute;
        margin-top: -10px;
        color: Red;
        float: left;
        font-size: 13px;
        font-weight: normal;
        margin-left: 3px;
    }
    
    .lblValidate4Radio {
        position: absolute;
        margin-top: 0px;
        color: Red;
        font-size: 13px;
        font-weight: normal;
        margin-left: 3px;
    }
    
    .lblValidate4Group {
        position: absolute;
        margin-top: -25px;
        color: Red;
        font-size: 13px;
        font-weight: normal;
        margin-left: -62px;
    }
    
    .lblValidate4Password {
        position: absolute;
        margin-top: -40px;
        color: Red;
        font-size: 13px;
        font-weight: normal;
        margin-left: 202px;
    }
    
    .lblMessage {
        font-weight: normal;
        font-size: 15px;
        color: #6B6B6B;
        margin-left: 0px;
        text-align: right;
    }
    
    .lblCalAge {
        font-weight: normal;
        font-size: 15px;
        color: #6B6B6B;
        margin-left: 5px;
        text-align: right;
    }
    
    .lblMessagelink {
        text-decoration: none;
        font-weight: normal;
        font-size: 15px;
        color: #6B6B6B;
        margin-left: 0px;
        text-align: right;
    }
    
    .lblMessagelink:visited {
        text-decoration: underline;
        color: #6B6B6B;
    }
    
    .lblMessagelink:hover {
        text-decoration: underline;
        color: #6B6B6B;
    }
    
    .lblMessagelink:active {
        text-decoration: underline;
        color: #6B6B6B;
    }
    /*Validate message --Ends*/
    /*Sub Content --Starts*/
    
    .SubContentTR {
        line-height: 0.3em;
    }
    /*Sub Content --Ends*/
    /*Date picker --Starts*/
    
    .ui-datepicker {
        font-size: 70.5%;
        border: 1px solid #aaaaaa;
    }
    /*Date picker --Ends*/
    /*Alert --Starts */
    
    #popup_container {
        position: fixed;
        z-index: 100;
        font-size: 12px;
        min-width: 300px;
        /* Dialog will be no smaller than this */
        max-width: 600px;
        /* Dialog will wrap after this width */
        background: #FFF;
        border: solid 5px #999;
        color: #000;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    
    #popup_title {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        line-height: 1.75em;
        color: #666;
        background: #CCC url(src/images/title.gif) top repeat-x;
        border: solid 1px #FFF;
        border-bottom: solid 1px #999;
        cursor: default;
        padding: 0em;
        margin: 0em;
    }
    
    #popup_content {
        background: 16px 16px no-repeat url(src/images/info.gif);
        padding: 1em 1.75em;
        margin: 0em;
    }
    
    #popup_content.alert {
        background-image: url(src/images/info.gif);
    }
    
    #popup_content.confirm {
        background-image: url(src/images/important.gif);
    }
    
    #popup_content.prompt {
        background-image: url(src/images/help.gif);
    }
    
    #popup_message {
        padding-left: 48px;
    }
    
    #popup_panel {
        text-align: center;
        margin: 1em 0em 0em 1em;
    }
    
    #popup_prompt {
        margin: .5em 0em;
    }
    /*Alert --Ends */
    /*Processing Label --Starts*/
    
    .lblProcessing {
        font-size: 10px;
        font-style: normal;
        color: #3f89c3;
    }
    /*Processing Label --Ends*/
    /*Search Field Content --Starts */
    
    .InputSearchFieldContentTable {
        width: 100%;
        padding: 0;
        line-height: 2.0em;
        vertical-align: top;
    }
    
    .SearchLeftLabelContentTD {
        /* width: 200px; */
        width: 40%;
        text-align: right;
        padding: 5px;
    }
    
    .SearchLeftLabel {
        font-weight: bold;
        font-size: 15px;
        color: #6B6B6B;
        text-align: left;
        padding-right: 2px;
        width: 200px;
    }
    
    .SearchColonLabel {
        font-weight: bold;
        font-size: 15px;
        color: #6B6B6B;
        text-align: center;
        padding-right: 2px;
        width: 20px;
    }
    
    .SearchInputFieldTD {
        text-align: left;
        font-size: 14px;
        padding: 5px;
    }
    
    .divBasicDetailsValues {
        width: 850px;
    }
    /*Field Content --Ends */
    /*Style for left menu--Starts*/
    
    .sublnk {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 13px;
        text-decoration: none;
        /*text-decoration: underline; 	color: #6B6B6B;*/
        color: Black;
        margin-left: 15px;
    }
    
    .sublnk:hover {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 13px;
        text-decoration: none;
        /*text-decoration: underline; 	color: #6B6B6B;*/
        color: #058dc6;
        margin-left: 15px;
    }
    /*Style for left menu--Ends*/
    /*Left menu holde for employee-Starts*/
    
    .leftmenuholder {
        width: 173px;
        margin-left: 0px;
        float: left;
        border-collapse: collapse;
    }
    /*Left menu holde for employee-Ends*/
    /* Design -Ends*/
    
    .legend {
        color: Orange;
        font-weight: bold;
    }
    /*Table design --Starts*/
    
    .CSSTableGenerator {
        margin: 0px;
        padding: 0px;
        width: 100%;
        border: 1px solid #000000;
    }
    
    .CSSTableGenerator table {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        border: 1px solid #000000;
    }
    
    .CSSTableGenerator tr:hover td {
        background-color: #efefef;
        border: 1px solid #000000;
    }
    
    .CSSTableGenerator td {
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #000000;
        border-width: 0px 1px 1px 0px;
        text-align: left;
        padding: 7px;
        font-size: 10px;
        font-family: Arial;
        font-weight: normal;
        color: #000000;
    }
    
    .CSSTableGenerator tr:last-child td {
        border-width: 0px 1px 0px 0px;
    }
    
    .CSSTableGenerator tr td:last-child {
        border-width: 0px 0px 1px 0px;
    }
    
    .CSSTableGenerator tr:last-child td:last-child {
        border-width: 0px 0px 0px 0px;
    }
    
    .CSSTableheader {
        background: -o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000));
        background: -moz-linear-gradient( center top, #ff5656 5%, #7f0000 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");
        background: -o-linear-gradient(top, #ff5656, 7f0000);
        background-color: #ff5656;
        border: 1px solid #000000;
        text-align: center;
        border-width: 1px 1px 1px 1px;
        font-size: 14px;
        font-family: Arial;
        font-weight: bold;
        color: #ffffff;
    }
    
    .CSSTableGenerator tr:first-child:hover td {
        background: -o-linear-gradient(bottom, #ff5656 5%, #7f0000 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5656), color-stop(1, #7f0000));
        background: -moz-linear-gradient( center top, #ff5656 5%, #7f0000 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff5656", endColorstr="#7f0000");
        background: -o-linear-gradient(top, #ff5656, 7f0000);
        background-color: #efefef;
    }
    
    .CSSTableGenerator tr:first-child td:first-child {
        border-width: 0px 0px 1px 0px;
    }
    
    .CSSTableGenerator tr:first-child td:last-child {
        border-width: 0px 0px 1px 1px;
    }
    /*Tabel design--Ends

/*View page styles--Starts*/
    
    .lblRegisterValue {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 13px;
        color: #000000;
        margin-left: 0px;
        text-align: right;
    }
    
    .rightlabel {
        width: 250px;
    }
    
    .centerlabel {
        width: 3px;
    }
    
    .leftlabel {
        width: 300px;
    }
    
    .viewContentTable {
        width: 90%;
        margin: 0 auto;
        line-height: 1.5em;
        font-weight: bold;
    }
    
    .colonBlack {
        width: 3px;
        color: #6b6b6b;
        font-weight: bold;
    }
    /*View page styles-- Ends*/
    /*Auto complete Styles -- Starts*/
    
    .autocomplete_completionListElement {
        visibility: hidden;
        margin: 0px 0px 0px 0px;
        background-color: #FFFFFF;
        color: windowtext;
        border: buttonshadow;
        border-width: 1px;
        border-style: solid;
        cursor: 'default';
        overflow: auto;
        height: auto;
        width: 160px;
        text-align: Left;
        list-style-type: none;
    }
    /* AutoComplete highlighted item */
    
    .autocomplete_highlightedListItem {
        color: #3f89c3;
        padding: 1px;
        line-height: 20px;
        margin-left: -40px;
    }
    /* AutoComplete item */
    
    .autocomplete_listItem {
        background-color: window;
        color: windowtext;
        padding: 1px;
        background-color: #efefef;
        line-height: 20px;
        margin-left: -40px;
    }
    /*Auto complete Styles -- Ends*/
    /*View Profile Page Menu --Starts*/
    
    .lnkbtnMenu {
        font-size: 13px;
        color: #006600;
    }
    
    .lblLandingData {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 11px;
        color: #000000;
        margin-left: 0px;
        text-align: right;
    }
    
    .lblLandingDataBold {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 11px;
        color: #3399FF;
        margin-left: 0px;
        text-align: right;
    }
    
    .modalBackground {
        background-color: #DDCEFF;
        filter: alpha(opacity=70);
        opacity: 0.7;
    }
    
    .modalPopup {
        background-color: #ffffdd;
        border-width: 3px;
        border-style: solid;
        border-color: Gray;
        padding: 3px;
        width: 250px;
    }
    /*View Profile Page Menu --Ends*/
    
    .pophd {
        background-image: url(src/images/pophd.jpg);
        background-repeat: no-repeat;
        background-color: White;
    }
    
    .leftcolrbold {
        color: #6b6b6b;
        font-size: 12px;
        font-weight: bold;
    }
    /* Styles which are added from KaakateeyaStyles.css to Kaakateeya.css - Ramireddi  */
    
    .ProfileTitlel {
        background-image: url(src/images/Corner_left1.jpg);
        background-repeat: no-repeat;
        background-color: #ffffff;
        width: 10px;
        height: 150px;
        color: #029248;
        font-weight: bold;
        font-size: 18px;
        text-align: left;
    }
    
    .ProfileTitleC {
        background-image: url(src/images/Corner_center1.jpg);
        background-repeat: repeat-x;
        background-color: #ffffff;
        width: 100%;
        height: 150px;
        color: #029248;
        font-weight: bold;
        font-size: 18px;
    }
    
    .ProfileTitler {
        background-image: url(src/images/Corner_right1.jpg);
        background-repeat: no-repeat;
        background-color: #ffffff;
        width: 10px;
        height: 150px;
        color: #029248;
        font-weight: bold;
        font-size: 18px;
        margin-left: 10px;
        text-align: left;
        /* float: right; */
    }
    
    .footerText {
        font-size: 11px;
        color: #793532;
    }
    
    .lblSubSecTitle {
        font-size: 15px;
        color: #3399FF;
    }
    /* Upload Photo */
    
    .ModalPopupBG {
        background-color: #666699;
        filter: alpha(opacity=50);
        opacity: 0.7;
        z-index: 100;
    }
    
    .HellowWorldPopup {
        min-width: 200px;
        min-height: 150px;
        background: white;
    }
    
    .PopupHeader {
        background-color: #58a718;
        color: Blue;
        font-weight: bold;
        font-size: 15px;
        text-align: left;
    }
    /* Upload Photo */
    
    .pop_left {
        background-image: url(src/images/pop_left.png);
        background-repeat: no-repeat;
        width: 12px;
        height: 32px;
        text-align: left;
    }
    
    .pop_right {
        background-image: url(src/images/pop_right.png);
        background-repeat: no-repeat;
        width: 10px;
        height: 32px;
        text-align: right;
    }
    
    .pop_center {
        background-image: url(src/images/pop_center.jpg);
        background-repeat: repeat-x;
        height: 32px;
        text-align: left;
        vertical-align: middle;
        color: #376481;
    }
    
    .popcontent {
        border: 1px solid #26ABE0;
        background-color: #ffffff;
        color: #376481;
        text-align: left;
        vertical-align: top;
    }
    
    .popcont {
        border: 1px solid #26ABE0;
        background-color: #ffffff;
        color: #376481;
        text-align: center;
        vertical-align: middle;
    }
    
    .btnshift {
        width: 35px;
        padding-bottom: 2px;
    }
    /* css for timepicker */
    
    .ui-timepicker-div .ui-widget-header {
        margin-bottom: 8px;
    }
    
    .ui-timepicker-div dl {
        text-align: left;
    }
    
    .ui-timepicker-div dl dt {
        height: 25px;
        margin-bottom: -25px;
    }
    
    .ui-timepicker-div dl dd {
        margin: 0 10px 10px 65px;
    }
    
    .ui-timepicker-div td {
        font-size: 90%;
    }
    
    .ui-tpicker-grid-label {
        background: none;
        border: none;
        margin: 0;
        padding: 0;
    }
    
    .searching {
        margin-left: 5px;
        padding-top: 10px;
        width: 366px;
        position: relative;
    }
    
    .autocomplete_completionListElement {
        visibility: hidden;
        margin: 0px 0px 0px 0px;
        background-color: #FFFFFF;
        color: windowtext;
        border: buttonshadow;
        border-width: 1px;
        border-style: solid;
        cursor: 'default';
        overflow: auto;
        width: auto;
        height: auto;
        width: 160px;
        text-align: Left;
        list-style-type: none;
    }
    
    .charcount {
        color: #6d6d6d;
        text-align: center;
    }
    
    .lnkbtnEdit {
        float: right;
        font-size: 13px;
        color: #006600;
    }
    
    .lblEdit {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: #6B6B6B;
        margin-right: 5px;
        float: right;
    }
    
    .lblEditValue {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-size: 15px;
        color: #6B6B6B;
        float: left;
    }
    
    .lblEditStatus {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: Green;
        margin-right: 5px;
        text-decoration: none;
    }
    
    .chkEdit {}
    
    .lnkbtnMenu {
        font-size: 13px;
        color: #006600;
    }
    
    .lblLandingData {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-weight: normal;
        font-size: 11px;
        color: #000000;
        margin-left: 0px;
        text-align: right;
    }
    
    .lblLandingDataBold {
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 11px;
        color: #3399FF;
        margin-left: 0px;
        text-align: right;
    }
    
    .modalBackground {
        background-color: #DDCEFF;
        filter: alpha(opacity=70);
        opacity: 0.7;
    }
    
    .modalPopup {
        background-color: #ffffdd;
        border-width: 3px;
        border-style: solid;
        border-color: Gray;
        padding: 3px;
        width: 250px;
    }
    
    .chkSearch {
        font-weight: normal;
        text-align: left;
        font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
        font-size: 11px;
        vertical-align: middle;
        margin-left: 2px;
        float: left;
        color: #6B6B6B;
    }
    
    .bdr_cont {
        border-left: 1px solid #480EF7;
        border-right: 1px solid #480EF7;
    }
    
    .btnstyleh {
        color: #ffffff;
        border: 3px solid #ffffff;
        background-color: #ee5a1e;
        padding: 3px 6px 3px 6px;
        border-radius: 5px;
        /*margin: 3px; padding: 3px; vertical-align: top;*/
        float: right;
        box-shadow: 0px 0px 3px 3px #c4c4c4;
        font-weight: bold;
    }
    
    .btnstylehl {
        color: #ffffff;
        border: 3px solid #ffffff;
        background-color: #ee5a1e;
        padding: 3px 6px 3px 6px;
        border-radius: 5px;
        /*margin: 3px; padding: 3px; vertical-align: top;*/
        float: left;
        box-shadow: 0px 0px 3px 3px #c4c4c4;
        font-weight: bold;
        margin-top: 3px;
    }
    
    .headercls {
        padding: 17px 0px 37px 2px;
        font-size: 17px;
        color: #000;
    }
</style>
<div style="width: 100%; border-color: Gray; border: 1px;">
    <table style="width: 80%; top: 150px; vertical-align: top;" align="center" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr class="panelhd">
                <td class="ProfileTitlel">
                </td>
                <td>
                    <table style="width: 100%; top: 150px; vertical-align: top;">
                        <tbody>
                            <tr>
                                <td valign="top" width="350px">
                                    <h3 class="headercls">
                                        Help / FAQs</h3>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="padding-bottom: 3px; padding-left: 5px; padding-right: 5px; padding-top: 3px">
                                        <span style="color: Black;">
                                        <h3>
                                            <b>Photographs - Adding Photographs To Matrimonial Profiles</b></h3>
                                    </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="justify">
                                    <ol style="width: 80%; text-align: justify;">
                                        <li><a href="#1" class="sublnk">1.  Why should I add my photograph to my matrimonial profile?</a></li>
                                        <li><a href="#2" class="sublnk">2.  Is it safe to add my photos along with the profile?</a></li>
                                        <li><a href="#3" class="sublnk">3.  How do I add my photo to my matrimonial profile on Kaakateeya.com?</a></li>
                                        <li><a href="#4" class="sublnk">4.  Can I make any of my album photos my profile photo?</a></li>
                                        <li><a href="#5" class="sublnk">5.  While uploading my photograph, I saw an error message
                                        that the image must be in jpg, gif, bmp, tiff or png format, what does this mean?</a></li>
                                        <li><a href="#6" class="sublnk">6.  How do I remove my photo from my matrimonial profile
                                        on Kaakateeya.com?</a></li>
                                        <li><a href="#7" class="sublnk" style="text-align:justify;">7.  I can't find the information I need</a> :<span style="width: 100px; color:Black;">
                                        This link will allow you to contact Customer Relations who will get back to you
                                        usually within 24 hours.If you want an answer immediately, please browse the</span>
                                            <a href="/customer-relations/faq" class="sublnk">FAQs</a>.</li>
                                        <li><a href="#8" class="sublnk">8.  Where are the photos I uploaded while registering?</a></li>
                                        <li><a href="#9" class="sublnk">9.  What privacy options are available for photos?</a></li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="padding-bottom: 3px; padding-left: 5px; padding-right: 5px; padding-top: 3px" class="pghd">
                                        <span class="PageTitle">Adding Photographs To Matrimonial Profiles</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ol style="width: 80%;">
                                        <li style="font-size: 12px;">

                                            <p style="color:Black;" id="1"><b style="font-size: 14px;">1.Why should
                                        I add my photograph to my matrimonial profile?</b></p>
                                            Our statistics show that adding a photo to your matrimonial profile increases the number of times your profile is viewed by up to 7 times. You are likely to receive 12 times as many responses if you attach a photo. So we advise you to upload a photo to
                                            increase your chances of finding your partner quickly.
                                            <br>
                                            <br> Also read: <a class="sublnk" href="/customer-relations/faq/phototips">A Picture Is Worth
                                            A Thousand Words</a><br>
                                            <br>
                                            <div class="sublnk" style="text-align: right;">
                                                <a href="#top" class="sublnk" style="text-decoration: underline;">Back to top</a></div>
                                        </li>
                                        <li style="font-size: 12px;">
                                            <a name="2"></a>
                                            <p style="color:Black;"><b style="font-size: 14px;">2.Is it safe
                                        to add my photos along with the profile?</b></p>
                                            Yes, it is absolutely safe to add photos to your profile. Kaakateeya.com ensures that all photographs are watermarked so as to prevent your photos from being tampered with.
                                            <br>
                                            <br>
                                            <div class="sublnk" style="text-align: right;">
                                                <a href="#top" class="sublnk" style=" text-decoration: underline;">Back
                                                to top</a></div>
                                        </li>
                                        <li style="font-size: 12px;">
                                            <a name="3"></a>
                                            <p style="color:Black;"><b style="font-size: 14px;">3.How do I add
                                        my photo to my matrimonial profile on Kaakateeya.com?</b></p>
                                            To add your photo to your matrimonial profile please follow these steps.<br>
                                            <ul class="list_disc">
                                                <li style="font-size: 12px;">Login to your
                                                    <a href="Login.aspx" class="sublnk" style="text-decoration: underline;">
                                                        <b>My Kaakateeya</b></a> Account.</li>
                                                <li style="font-size: 12px;">Click on "Edit Photo" link available on the My Kaakateeya page and follow the instructions there.</li>
                                            </ul>
                                            <br>
                                            <div class="sublnk" style="text-align: right;">
                                                <a href="#top" class="sublnk" style=" text-decoration: underline;">Back
                                                to top</a></div>
                                        </li>
                                        <li style="font-size: 12px;">
                                            <a name="4"></a>
                                            <p style="color:Black;"><b style="font-size: 14px;">4.Can I make
                                        any of my album photos my profile photo?</b></p>
                                            Yes, you can swap any album photo with your profile photo.To do this, click on “Make Profile Photo” option in the dropdown menu for the album photo.<br>
                                            <br>
                                            <div class="sublnk" style="text-align: right;">
                                                <a href="#top" class="sublnk" style=" text-decoration: underline;">Back
                                                to top</a></div>
                                        </li>
                                        <li style="font-size: 12px;">
                                            <a name="5"></a>
                                            <p style="color:Black;"><b style="font-size: 14px;">5.While uploading
                                        my photograph, I saw an error message that the image must be in jpg, gif, bmp, tiff
                                        or png format, what does this mean?</b></p>
                                            jpg, gif, bmp, tiff and png are the most popular digital image formats on the internet. Kaakateeya.com accepts only these image formats for photos on your matrimonial profile.<br>
                                            <br>
                                            <div class="sublnk" style="text-align: right;">
                                                <a href="#top" class="sublnk" style=" text-decoration: underline;">Back
                                                to top</a></div>
                                        </li>
                                        <li style="font-size: 12px;">
                                            <a name="6"></a>
                                            <p style="color:Black;"><b style="font-size: 14px;">6.How do I remove
                                        my photo from my matrimonial profile on Kaakateeya.com?</b></p>
                                            To remove your photo on Kaakateeya.com all you need to do is:<br>
                                            <ul>
                                                <li style="font-size: 12px;">Login to your
                                                    <a href="Login.aspx" class="sublnk" style="text-decoration: underline;">
                                                        <b>My Kaakateeya</b></a> Account.</li>
                                                <li style="font-size: 12px;">Click on
                                                    <a href="Login.aspx" class="sublnk" style="text-decoration: underline;">
                                                        <b>My Photos</b></a> in My Profile available under My Kaakateeya on the left of your screen and follow the instructions there.</li>
                                                <li>Click on the down arrow at the bottom right side of the photo graph you want to Delete
                                                </li>
                                                <li>Choose Delete Photo</li>
                                            </ul>
                                            <br> Note: If you delete your profile photo then your first album photo will automatically become your profile photo.
                                            <br>
                                            <br>
                                            <div class="sublnk" style="text-align: right;">
                                                <a href="#top" class="sublnk" style=" text-decoration: underline;">Back
                                                to top</a></div>
                                        </li>
                                        <li style="font-size: 12px;">
                                            <a name="7"></a>
                                            <p style="color:Black;"><b style="font-size: 14px;">7.Where are the
                                        photos I uploaded while registering?</b></p>
                                            Kaakateeya.com reviews all photographs uploaded by members. While we allow members the ability to upload their photographs, we reserve the right to remove/delete any photograph that violates socially accepted norms of decency. It takes us up to 24 hours
                                            to screen your photos, during which period your photos will not be visible.<br>
                                            <br>
                                            <div class="sublnk" style="text-align: right;">
                                                <a href="#top" class="sublnk" style=" text-decoration: underline;">Back
                                                to top</a></div>
                                        </li>
                                        <li style="font-size: 12px;">
                                            <a name="8"></a>
                                            <p style="color:Black;"><b style="font-size: 14px;">8.What privacy
                                        options are available for photos?</b></p>
                                            Only Premium Members are entitled to the privacy options of 'Password Protection' and 'Photo Visible to Contacted and Accepted Members'. As a Premium Member, you can protect your photo with a password. In order to view your photograph other members will
                                            require the password. The other privacy option available is 'Visible on accept' which means, only those people who you have accepted or expressed interest in will be able to view your photo. You can change your
                                            privacy setting on the My Photos sectionunder My Kaakateeya.<br>
                                            <br>
                                            <div class="sublnk" style="text-align: right;">
                                                <a href="#top" class="sublnk" style=" text-decoration: underline;">Back
                                                to top</a></div>
                                        </li>
                                    </ol>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="ProfileTitler">
                </td>
            </tr>
        </tbody>
    </table>
</div>